<div class="row valign-wrapper">
  <div class="col s6 input-field form-group">
    <i class="material-icons prefix">search</i>
    <input
      type="text"
      class="forms-control"
      placeholder="Buscar usuarios por grupo"
      [(ngModel)]="filtroEstudiantes"
      name="filtroEstudiantes"
    />
  </div>
  <div class="col s6 right-align">
    <a
      routerLink="/administracion/crear-usuarios-por-grupo/{{ grupoId }}"
      class="btn"
      >Agregar estudiantes</a
    >
  </div>
</div>
<cdk-virtual-scroll-viewport itemSize="0" style="min-height: 400px">
  <table class="table responsive">
    <thead>
      <tr>
        <th>Documento</th>
        <th>Nombres</th>
        <th>Apellidos</th>
      </tr>
    </thead>
    <tbody>
      <ng-container
        *cdkVirtualFor="
          let p of listadoEstudiantes | filtroEstudiantes: filtroEstudiantes
        "
      >
        <tr>
          <td>{{ p.id }}</td>
          <td>{{ p.nombres }}</td>
          <td>{{ p.apellidos }}</td>

          <td>
            <a
              routerLink="/administracion/editar-usuarios-por-grupo/{{ p.id }}"
              class="btn"
              >Editar</a
            >
          </td>
          <td>
            <a
              routerLink="/administracion/eliminar-usuarios-por-grupo/{{
                p.id
              }}"
              class="btn red lighten-1"
              >Eliminar</a
            >
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</cdk-virtual-scroll-viewport>
