<div class="row">
  <h3 class="center-align">Crear usuario por grupo</h3>
  <div class="row center">
    <form
      [formGroup]="fgValidador"
      (ngSubmit)="GuardarUsuarioPorGrupo()"
      class="col s12"
    >
      <div class="row">
        <div class="input-field col s6">
          <input
            formControlName="usuarioId"
            id="usuarioId"
            type="text"
            class="validate"
            required
          />
          <label for="usuarioId">usuarioId</label>
        </div>
        <div class="input-field col s6">
          <input
            formControlName="grupoId"
            id="grupoId"
            type="text"
            class="validate"
            required
          />
          <label for="grupoId">grupoId</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input
            formControlName="calificacion"
            id="calificacion"
            type="text"
            class="validate"
            required
          />
          <label for="calificacion">calificacion</label>
        </div>
      </div>
      <div class="row center">
        <div class="row input-field col s3">
          <button
            [disabled]="!fgValidador.valid"
            href="#"
            class="btn waves-effect waves-light col s12"
            type="submit"
            name="action"
          >
            Crear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
