<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 "
            style="background-color: rgb(10, 20, 18); padding: 15px; margin: 0%; ">

            <div class="d-flex flex-column align-items-center">
                
                <div style="color: azure;" >
                    <strong><h2>Menu</h2></strong>
                </div>   
                
                <hr>

    

                <ul   class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-startright hide-on-med-and-down" id="menu">
                    <li>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu" >
                            
                            
                            <li *ngIf="seInicioSesion">
                                <a routerLink="/administracion/listar-usuarios">Usuarios</a>
                            </li>
                            <br>
                            <li *ngIf="seInicioSesion">
                                <a routerLink="/administracion/listar-asignaturas">Asignaturas</a>
                            </li>
                            <br>
                            <li *ngIf="seInicioSesion">
                                <a routerLink="/administracion/listar-grupos">Grupos</a>
                            </li>
                            <br>
                            <li *ngIf="seInicioSesion">
                                <a routerLink="/administracion/listar-programas-academicos">Programas Academicos</a>
                            </li>
                            <br>
                            <li *ngIf="seInicioSesion">
                                <a routerLink="/administracion/listar-perfiles">Perfiles</a>
                            </li>
                            <br>
                            <li *ngIf="seInicioSesion">
                                <a routerLink="/administracion/listar-usuarios-por-grupo">Usuarios por grupo</a>
                            </li>
                            <br>
                            
                        </ul>
                    </li>
                    <hr>
                    <br>
                    <li *ngIf="seInicioSesion">
                        <a routerLink="/seguridad/cambio-clave">cambiar clave</a>
                    </li>
                    <br><br>
                </ul>

            </div>
        </div>
    </div>
</div>