<a routerLink="/administracion/crear-grupos" class="btn">Crear grupo </a>

<table class="table responsive">
  <thead>
    <tr>
      <th>id</th>
      <th>Nombre</th>
      <th>asignatura</th>
      <th>Docente</th>
      <th>Horario</th>
      <th>Actividades</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of listadoGrupos">
      <td>{{ p.id }}</td>
      <td>{{ p.nombre }}</td>
      <td>{{ p.asignaturaId }}</td>
      <td>{{ p.docenteId }}</td>
      <td>{{ p.horario }}</td>
      <td>{{ p.actividades }}</td>
      <td>
        <a routerLink="/administracion/editar-grupos/{{ p.id }}" class="btn"
          >Editar</a
        >
      </td>
      <td>
        <a
          routerLink="/administracion/eliminar-grupos/{{ p.id }}"
          class="btn red lighten-1"
          >Eliminar</a
        >
      </td>
    </tr>
  </tbody>
</table>
