.wrapper {
  display: flex;
}
.wrapper input[type="text"] {
  flex: 1 1 auto;
}
.ng-container {
  padding: 0px;
  height: 100%;
  width: 100%;
}

tr:hover {
  background-color: rgb(224, 224, 224);
}

th {
  text-align: left;
}


table.horario {
  border: 0px solid black;
  border-collapse: collapse;
  text-align: left;
  width: 90%;
  height: 90%;
}

td.horario {
  border: 0px solid black;
  border-collapse: collapse;
  text-align: left;
  width: 33%;
}
tr.horario {
  border: 0px solid black;
  border-collapse: collapse;
}
